<script src="/assets/js/animate-box.js"></script>
<section>
    <box>
        <h1 class="lp_title typewriter" id="main-title">{{ site.name }}</h1>
        <h2 class="lp_subtitle typewriter" id="sub-title">Backend Developer</h2>
    </box>
 <img src="https://media.giphy.com/media/qgQUggAC3Pfv687qPC/giphy.gif" class="responsive_image"/>
 <div class="icon_holder">
    <span><a href="https://t.me/GiacomoZanottiConsultantBot" target="_blank"><i class="fa-brands fa-telegram icon_image fa-3x"></i></a></span>
    <span><a href="https://github.com/SamTheOracle" target="_blank"><i class="fa fa-github icon_image fa-3x"></i></a></span>
    <span><a href="https://www.linkedin.com/in/giacomozanotti/" target="_blank"><i class="fa-brands fa-linkedin icon_image fa-3x"></i></a></span>
    <span id="cvDownload"><i class="fa-solid fa-file icon_image fa-3x"></i></span>
 </div>
</section>